<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<%



%>

<% form_for @user do |f|
  f.collection_check_boxes :options, [[true, 'Yes'] ,[false, 'No']], :first, :last
end %>
